.optionsWrapper {
  margin: 0 0 100px;
}

.btn:global(.ant-btn.ant-btn) {
  height: auto;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0;
  padding-inline-end: 0;
  text-transform: capitalize;
  white-space: normal;
  padding: 0;
  color: #fff;
}

.btn:global(.ant-btn.ant-btn):hover,
.btn:global(.ant-btn.ant-btn):focus {
  color: #fff;
  background-color: transparent;
}

.btnText {
  margin: 24px 0 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.btnIndex {
  margin: 0 0 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

span.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #947ac6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 34px;
  transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.btn:global(.ant-btn.ant-btn):hover span.circle,
.btn:global(.ant-btn.ant-btn):focus span.circle,
.btn:global(.ant-btn.ant-btn).active span.circle {
  background: #fff;
}

.btn:global(.ant-btn.ant-btn):hover .btnIndex,
.btn:global(.ant-btn.ant-btn):focus .btnIndex,
.btn:global(.ant-btn.ant-btn).active .btnIndex {
  opacity: 1;
}
